/* Variables de configuración */
    $font-family: 'Open Sans', sans-serif;
    $background-color: #f7f7f7;
    $header-background-color: #333;
    $header-color: #fff;
    $section-background-color: #fff;
    $title-color: #333;
    $text-color: #666;
    $link-color: #337ab7;
    $link-hover-color: #23527c;
